{#<div class="wrapper row0">
    <section id="ctdetails" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="nospace clear">
            <li class="one_quarter first">
                <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span>Appelez-nous: <strong>+237 659106215/696023586</strong></span></div>
            </li>
            <li class="one_quarter no-mobile">
                <div class="block clear "><a href="#"><i class="fas fa-envelope"></i></a> <span>Envoyez-nous un e-mail: <strong>contact@miss-shine.site</strong></span></div>
            </li>
            <li class="one_quarter no-mobile">
                <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span>Lun. - Sam.: <strong>08h00 - 18h00</strong></span></div>
            </li>
            <li class="one_quarter"><a class="btn btn-primary" href="#"><strong>Faire un don</strong></a></li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>#}
<div class="wrapper row1" style="margin-bottom: 170px">
<!-- Heder Area -->
<header class="header-area">
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6">
                    <ul class="left-info">
                        <li>
                            <a href="mailto:contact@miss-shine.site">
                                <i class="fas fa-envelope"></i>
                                contact@miss-shine.site
                            </a>
                        </li>
                        <li>
                            <a href="tel:+237659106215">
                                <i class="fas fa-phone"></i>
                                +237 659106215/696023586
                            </a>
                        </li>
                        <li>
                            <a href="tel:+823-456-879">
                                <i class="fas fa-clock"></i>
                                Lun. - Sam.: <strong>08h00 - 18h00</strong>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <ul class="right-info">
                        <li>
                            <a href="https://facebook.com/MissShineCameroon" target="_blank">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/MissShine2021" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/miss_shine_237" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                        <li class="heder-btn">
                            <a href="#">Faire un don</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="atorn-responsive-nav">
            <div class="container">
                <div class="atorn-responsive-menu">
                    <div class="logo">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('front/images/logo.png') }}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="atorn-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <img src="{{ asset('front/images/logo.png') }}" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="{{ path('home') }}" {% if app.request.attributes.get( '_route' ) starts with 'home' %} class="nav-link active"{% else %} class="nav-link" {% endif%}>
                                    Accueil
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="{{ path('inscription') }}" {% if app.request.attributes.get( '_route' ) starts with 'inscription' %} class="nav-link active"{% else %} class="nav-link" {% endif%}>Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('criteres') }}" {% if app.request.attributes.get( '_route' ) starts with 'criteres' %} class="nav-link active"{% else %} class="nav-link" {% endif%}>Critéres</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('candidats') }}" {% if app.request.attributes.get( '_route' ) starts with 'candidats' %} class="nav-link active"{% else %} class="nav-link" {% endif%}>Candidates</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('boutique') }}" {% if app.request.attributes.get( '_route' ) starts with 'boutique' %} class="nav-link active"{% else %} class="nav-link" {% endif%}>Boutique</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('service') }}" {% if app.request.attributes.get( '_route' ) starts with 'service' %} class="nav-link active"{% else %} class="nav-link" {% endif%}>Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link search-box">
                                    <i class="las la-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>
<!-- End Heder Area -->
</div>

{#<div class="header_style">
<div class="wrapper row1">
    <header id="header" class="hoc clear ">
        <div id="logo" class="fl_left">
            <!-- ################################################################################################ -->
            <h1> <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('front/images/logo.png') }}" alt=""></a></h1>
            <!-- ################################################################################################ -->
        </div>
        <nav id="mainav" class="fl_right">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li {% if app.request.attributes.get( '_route' ) starts with 'home' %} class="active"{% else %} class="" {% endif%}><a href="{{ path('home') }}">Accueil</a></li>
                <li{% if app.request.attributes.get( '_route' ) starts with 'inscription' %} class="active"{% else %} class="" {% endif%}><a href="{{ path('inscription') }}">Inscription</a></li>
                <li{% if app.request.attributes.get( '_route' ) starts with 'criteres' %} class="active"{% else %} class="" {% endif%}><a href="{{ path('criteres') }}">Critéres</a></li>
                <li{% if app.request.attributes.get( '_route' ) starts with 'candidats' %} class="active"{% else %} class="" {% endif%}><a href="{{ path('candidats') }}">Candidats</a></li>
                <li{% if app.request.attributes.get( '_route' ) starts with 'boutique' %} class="active"{% else %} class="" {% endif%}><a href="{{ path('boutique') }}">Boutique</a></li>
                <li{% if app.request.attributes.get( '_route' ) starts with 'service' %} class="active"{% else %} class="" {% endif%}><a href="{{ path('service') }}">Services</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </header>
</div>#}
</div>