{% extends 'baseback.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
<div class="content">
    <div class="card card-stats">
        <div class="card-body ">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vote.id }}</td>
            </tr>
            <tr>
                <th>Nombre de vote</th>
                <td>{{ vote.nombreVote }}</td>
            </tr>
            <tr>
                <th>Monnaie</th>
                <td>{{ vote.monaie }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ vote.status }}</td>
            </tr>
            <tr>
                <th>Date de creation</th>
                <td>{{ vote.createdAt ? vote.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
        </div></div></div>
{% endblock %}
