
<script type="text/javascript">
    $(document).ready(function () {
        $('#loader').hide();
        $('#groupselect').change(function () {
            console.log($(this).val())
            if ($(this).val()==2){
                $('#uploadModal').modal('show')
                $('#contact_list>tbody').html(" ");
            }else {
                $('#contact_list>tbody').html(" ");
                $.ajax({
                    url: "{{ path('getcontactajax') }}",
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        for (i = 0; i < data.length; i++) {
                            var columns = Object.values(data[i])
                            $("#contact_list>tbody:last").append("<tr><td><input class='checkbox' type='checkbox' checked><span>"+columns[1]+"</span></td><td><input value='"+columns[2]+"'></td><td>"+columns[3]+"</td></tr>")
                        }
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }
                });
            }

        });
        $("#form_message").keyup(function () {
            var nbreCa=$(this).val().length;
            var nbreCa=160-nbreCa;
            var a = $(this).val().length;
            var b = 160;
            var rem = a%b;
            var quo = (a-rem)/b;
            //  console.log('Quotient = ',quo,'Remainder = ',rem);
            if (rem>0){
                quo+=1;
            }
            var nbreChar=$(this).val().length;
            var nbreMots=$(this).val().trim().split(' ').length;
            if ($(this).val()===' '){
                nbreMots=0;
            }
            // var msg=' '+nbreMots+'mot(s) '+nbreCa+' Caractere(s) restant';
            var msg=' '+nbreChar+'Caractere(s) '+quo+' Sms(s)';
            $("#compteur").text(msg);
        })
        $('#sendsms').click(function () {
            $("#loader").fadeIn(300);
            $.ajax({
                url: "{{ path('sendsmsajax') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    message: $('#form_message').val(),
                    phone: $('#form_phone').val(),
                    sender: $('#form_sender').val(),
                },
                success: function (data) {
                    showNotification('top','right','Success! sms envoyés avec success','primary');
                    setTimeout(function () {
                        $("#loader").fadeOut(300);
                    }, 500);
                },
                error: function (err) {
                    showNotification('top','right','Echec ! une erreur est survenue','danger');
                    setTimeout(function () {
                        $("#loader").fadeOut(300);
                    }, 500);
                }
            });
        }); var updatcontat=false;
        $("#updatecontact").click(function () {
            updatcontat = !!$("#updatecontact").is(':checked');
            console.log(updatcontat)
        })
        $('#sendsmsmasse').click(function () {
            $('#loader').show();
            jsonObj = [];
            $("#contact_list>tbody input[type=checkbox]:checked").each(function () {
                var row = $(this).closest('tr')[0];
                var name = row.cells[0].children[1].innerText;
                var phone = row.cells[1].children[0].value;
                var dossard = row.cells[2].innerText;
                item = {};
                item['name'] = name;
                item['phone'] = phone;
                item['dossard'] = dossard;
                jsonObj.push(item)
            });
            console.log(JSON.stringify({data: jsonObj}))
            $.ajax({
                url: "{{ path('sendsmsmanyajax') }}",
                type: "POST",
                dataType: "JSON",
                data: JSON.stringify({
                    ob: jsonObj, message: $('#form_message').val(),updatecontact: updatcontat,
                    sender: $('#form_sender').val(),
                }),
                success: function (data) {
                    showNotification('top','right','Success! sms envoyés avec success','primary');
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                        $('#loader').fadeOut(300);
                    }, 500);
                },
                error: function (err) {
                    showNotification('top','right','Echec ! une erreur est survenue','danger');
                    setTimeout(function () {
                        $("#loader").fadeOut(300);
                    }, 500);
                }
            });
        });
        $('#sendsmsbulk').click(function () {

            $('#loader').show();
            jsonObj = [];
            $("#bulk_list>tbody input[type=checkbox]:checked").each(function () {
                var row = $(this).closest('tr')[0];
                var name = row.cells[0].children[1].innerText;
                var phone = row.cells[1].children[0].value;
                item = {};
                item['name'] = name;
                item['phone'] = phone;
                jsonObj.push(item)
            });
            $.ajax({
                url: "{{ path('sendsmsbulkajax') }}",
                type: "POST",
                dataType: "JSON",
                data: JSON.stringify({
                    ob: jsonObj, message: $('#form_message').val()
                }),
                success: function (data) {
                    showNotification('top','right','Success! sms envoyés avec success','primary');
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                        $('#loader').fadeOut(300);
                    }, 500);
                },
                error: function (err) {
                    showNotification('top','right','Echec ! une erreur est survenue','danger');
                    setTimeout(function () {
                        $("#loader").fadeOut(300);
                    }, 500);
                }
            });
        });
        $('#updatesmscontact').click(function () {
            $('#loader').show();
            jsonObj = [];
            $("#contact_list>tbody input[type=checkbox]:checked").each(function () {
                var row = $(this).closest('tr')[0];
                var name = row.cells[0].children[1].innerText;
                var phone = row.cells[1].children[0].value;
                var dossard = row.cells[2].innerText;
                item = {};
                item['name'] = name;
                item['phone'] = phone;
                item['dossard'] = dossard;
                jsonObj.push(item)
            });
            $.ajax({
                url: "{{ path('updatecontactsmsajax') }}",
                type: "POST",
                dataType: "JSON",
                data: JSON.stringify({
                    ob: jsonObj
                }),
                success: function (data) {
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                        $('#loader').fadeOut(300);
                    }, 500);
                },
                error: function (err) {
                    setTimeout(function () {
                        $("#loader").fadeOut(300);
                    }, 500);
                }
            });
        });

    })
    showNotification= function(from, align,msg,color) {
        // = 'primary';

        $.notify({
            icon: "nc-icon nc-bell-55",
            message: msg

        }, {
            type: color,
            timer: 8000,
            placement: {
                from: from,
                align: align
            }
        });
    }
    var ExcelToJSON = function() {

        this.parseExcel = function(file) {
            var reader = new FileReader();

            reader.onload = function(e) {
                var data = e.target.result;
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                workbook.SheetNames.forEach(function(sheetName) {
                    // Here is your object
                    var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                    var json_object = JSON.stringify(XL_row_object);
                    productList = JSON.parse(json_object);

                    var rows = $("#contact_list");
                    console.log(productList)
                    $('#contact_list>tbody').html(" ");
                    for (i = 0; i < productList.length; i++) {
                        var columns = Object.values(productList[i])
                /*        rows.eq(i).find('td.txtcode').text(columns[0]);
                        rows.eq(i).find('td.txtphone').text(columns[1]);*/
                        $("#contact_list>tbody:last").append("<tr><td><input class='checkbox hidden' type='checkbox' checked><span>"+columns[1]+"</span></td><td><input value='"+columns[2]+"'></td><td>"+columns[3]+"</td></tr>")
                       // rows.append("<td>"+columns[2]+"</td>")
                    }

                })
            };
            reader.onerror = function(ex) {
                console.log(ex);
            };

            reader.readAsBinaryString(file);



        };
    };
    var ExcelToJSONPHONE = function() {

        this.parseExcel = function(file) {
            var reader = new FileReader();

            reader.onload = function(e) {
                var data = e.target.result;
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                workbook.SheetNames.forEach(function(sheetName) {
                    // Here is your object
                    var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                    var json_object = JSON.stringify(XL_row_object);
                    productList = JSON.parse(json_object);

                    var rows = $("#bulk_list");
                    console.log(productList)
                    $('#bulk_list>tbody').html(" ");
                    for (i = 0; i < productList.length; i++) {
                        var columns = Object.values(productList[i])
                        $("#bulk_list>tbody:last").append("<tr><td><input class='checkbox' type='checkbox' checked><span>"+columns[1]+"</span></td><td><input value='"+columns[2]+"'></td></tr>")
                    }

                })
            };
            reader.onerror = function(ex) {
                console.log(ex);
            };

            reader.readAsBinaryString(file);



        };
    };
    function removeRow(id) {
        line = "#line_" + id;
        $(line).remove();
    }
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        var xl2json = new ExcelToJSON();
        xl2json.parseExcel(files[0]);
    }
    function handleFileSelectphone(evt) {
        var files = evt.target.files; // FileList object
        var xl2json = new ExcelToJSONPHONE();
        xl2json.parseExcel(files[0]);
    }
    document.getElementById('form_upload').addEventListener('change', handleFileSelect, false);
    document.getElementById('file_upload').addEventListener('change', handleFileSelectphone, false);
</script>




