{% extends 'base.html.twig' %}
{% block title %}
    Miss-shine Candidats
{% endblock %}
{% block body %}
    <div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
        <div class="page-title text-center"><h1 class="heading">Candidats</h1></div>
    </div>
    <div class="wrapper row3">

        <main class="hoc container clear">
            <div class="sectiontitle wow fadeInUp">
                <h4 class="heading">Les candidats Miss shine edition 2022</h4>
            </div>
            <!-- Creative_team_start -->
            <div class="creative-team-area pt-40 pb-40">
                <div class="container-fluid">
                    <div class="row">
                        {% for candidat in candidats %}
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="team-box ml-4 mb-120">
                                    <div class="single-team wow fadeInUpBig">
                                        <div class="team-top d-flex mb-30">
                                            <div class="team-img">{% if candidat.photo %}
                                                    <img src="{{ asset('uploads/' ~ candidat.photo) }}" width="250"
                                                         height="250"
                                                         class="img-responsive img-rounded">
                                                {% else %}
                                                    <img src="{{ asset('backend/images/default-avatar.png') }}"
                                                         class="img-responsive img-rounded">
                                                {% endif %}</div>
                                            <!-- social-icon -->
                                            <div class="team-social">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                    <li class="active"><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="team-bottom">
                                            {% if candidat.position == 1 %}
                                                <span>1ere</span>
                                            {% else %}
                                                <span>{{ candidat.position }} éme</span>
                                            {% endif %}
                                            <h4>{{ candidat.firstname }} {{ candidat.lastname }}</h4>
                                            <span>Nombres de votes: {{ candidat.vote }}</span>
                                            <p>{{ candidat.description }} </p>
                                        </div>
                                        <div class="team-bottom">
                                            <a href="{{ path('showcandidat', {'url': candidat.genericurl }) }}"
                                               class="btn btn-light btn-radius btn-brd grd1 effect-1">Je
                                                vote</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}



