{% extends 'base.html.twig' %}

{% block title %}Miss Shine Entrepreneuriat {% endblock %}

{% block body %}
    <div class="wrapper bgded overlay">
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <section class="">
                <div class="container">
                    <div class="row">
                        <div class="featured-carousel owl-carousel">
                            {% for candidat in candidats %}
                                <div class="item">
                                    <div class="work-wrap d-md-flex">
                                        {% if candidat.photo %}
                                            <div class="img order-md-last"
                                                 style="background-image: url({{ asset('uploads/' ~ candidat.photo) }});"></div>
                                        {% else %}
                                            <div class="img order-md-last"
                                                 style="background-image: url({{ asset('images/work-1.jpg') }});"></div>
                                        {% endif %}
                                        <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                                            <div class="desc w-100">
                                                <p class="h5">Candidat n°: {{ candidat.id }}</p>
                                                <h2 class="mb-4">{{ candidat.firstname }} {{ candidat.lastname }}</h2>
                                                <p class="h5">Nombre de votes: {{ candidat.vote }}</p>
                                                <p class="h5 mb-4">{{ candidat.description }}</p>
                                                <div class="row justify-content-end">
                                                    <div class="col-xl-8">
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <p>
                                                    <a type="button" class="btn btn-primary mb-2 py-3 px-4" href="{{ path('showcandidat', {'url': candidat.genericurl }) }}">
                                                        Partager le lien
                                                    </a>
                                                    <a type="button" class="btn btn-success mb-2 py-3 px-4" href="{{ path('showcandidat', {'url': candidat.genericurl }) }}">Je
                                                        vote
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <!-- ################################################################################################ -->
        </div>
    </div>

    <div class="brand-carousel-wrapper light-blue-bg  wow fadeIn">
        <div class="container">
            <div class="brand-carousel owl-carousel owl-theme">
                <div class="item">
                    <img src="{{ asset('images/brand-1.png') }}" alt="" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="{{ asset('images/brand-4.png') }}" alt="" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="{{ asset('images/brand-2.png') }}" alt="" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="{{ asset('images/brand-3.png') }}" alt="" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="{{ asset('images/brand-1.png') }}" alt="" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="{{ asset('images/brand-5.png') }}" alt="" />
                </div><!-- /.item -->
            </div><!-- /.brand-carousel -->
        </div><!-- /.thm-container -->
    </div>
    <!-- /.brand-carousel-wrapper -->
    <div class="wrapper row3">

        <main class="hoc container clear">
            <div class="sectiontitle wow fadeInUp">
                <h4 class="heading">Les candidats Miss shine edition 2022</h4>
            </div>
            <!-- Creative_team_start -->
            <div class="creative-team-area pt-40 pb-40">
                <div class="container-fluid">
                    <div class="row">
                        {% for candidat in candidats %}
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="team-box ml-4 mb-120">
                                    <div class="single-team wow fadeInUpBig">
                                        <div class="team-top d-flex mb-30">
                                            <div class="team-img">{% if candidat.photo %}
                                                    <img src="{{ asset('uploads/' ~ candidat.photo) }}" width="250"
                                                         height="250"
                                                         class="img-responsive img-rounded">
                                                {% else %}
                                                    <img src="{{ asset('backend/images/default-avatar.png') }}"
                                                         class="img-responsive img-rounded">
                                                {% endif %}</div>
                                            <!-- social-icon -->
                                            <div class="team-social">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                    <li class="active"><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="team-bottom">
                                            {% if candidat.position == 1 %}
                                                <span>1ere</span>
                                            {% else %}
                                                <span>{{ candidat.position }} éme</span>
                                            {% endif %}
                                            <h4>{{ candidat.firstname }} {{ candidat.lastname }}</h4>
                                            <span>Nombres de votes: {{ candidat.vote }}</span>
                                            <p>{{ candidat.description}} </p>
                                        </div>
                                        <div class="team-bottom">
                                          <a href="{{ path('showcandidat', {'url': candidat.genericurl }) }}"
                                               class="btn btn-light btn-radius btn-brd grd1 effect-1">Je
                                                vote</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Creative_team_end -->
    <div class="modal fadeInDown" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="voteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="voteModalLabel">Je vote <span id="name_titre"></span></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{{ path('sendpaiementajax') }}">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-5" id="imagesjs">
                                </div>
                                <div class="col-md-7">
                                    <p>Candidat N° <span id="number_candidat">2</span>:<span id="name"></span></p>
                                    <p>Nombres de votes :<span id="number_vote">15</span></p>
                                    <p>Position :<span id="position_vote">1 ere</span></p>
                                    <input name="candidat_id" class="hidden" id="candidat_id">
                                    <div class="input-group">
                                        <label class="control-label" for="clientphone"> Téléphone:</label>
                                        <input class="form-control" name="clientphone" id="clientphone">
                                    </div>

                                    <div class="input-group">
                                        <label class="control-label" for="clientvote"> Nombres de votes:</label>
                                        <select class="form-control" name="clientvote" id="clientvote">
                                            <option value="1"> 100 fcfa 1vote</option>
                                            <option value="5"> 300 fcfa 5votes</option>
                                            <option value="7"> 500 fcfa 7votes</option>
                                            <option value="15"> 1000 fcfa 15votes</option>
                                        </select>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="item_id" class="hidden">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_delete_sms">
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-primary send_sms">Je vote</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'default/javascript.html.twig' %}
{% endblock %}