{% extends 'base.html.twig' %}
{% block title %}
Inscription|Miss Shine Entrepreneuriat
{% endblock %}
{% block body %}
    <div class="wrapper bgded overlay" style="background-image:url({{ asset('images/imagemiss.jpg') }});">
        <div class="page-title text-center wow fadeInRightBig"><h1 class="heading">Inscriptions</h1></div>
    </div>
    <div class="row pt-20" style="background-color: #f9f9f9">
        <div class="col-xl-8 offset-xl-2">
            <div class="sec-title text-center black wow bounceIn">
                <span>EDITION 2022</span>
                <h3>Inscription</h3>
                <p>Devenez la prochaine MISS-SHINE ENTREPREUNARIAT.</p>
            </div><!-- /.sec-title -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <!-- Begin Mailchimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                            <form action="https://site.us20.list-manage.com/subscribe/post?u=3393d81b1a54d9300c6bca2f7&amp;id=04fe48e718" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <h2>Inscription</h2>
                                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Addresse  <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-FNAME">Prenom </label>
                                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-LNAME">Nom </label>
                                        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                    </div>
                                    <div class="mc-field-group size1of2">
                                        <label for="mce-BIRTHDAY-month">Date de Naissance </label>
                                        <div class="datefield">
                                            <span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> /
                                            <span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span>
                                            <span class="small-meta nowrap">( mm / dd )</span>
                                        </div>
                                    </div><div class="mc-field-group">
                                        <label for="mce-VILLE">Ville </label>
                                        <input type="text" value="" name="VILLE" class="" id="mce-VILLE">
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3393d81b1a54d9300c6bca2f7_04fe48e718" tabindex="-1" value=""></div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" value="Soumettre" name="subscribe" id="mc-embedded-subscribe" class="button">
                                            <p class="brandingLogo"><a href="http://eepurl.com/hSAjeH" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='VILLE';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <img src="{{ asset('images/imagemiss.jpg') }}">
                <img src="{{ asset('images/missdauphinescentre.jpg') }}">
            </div>
        </div>
    </div>
    <div class="brand-carousel-wrapper light-blue-bg  wow fadeIn">
        <div class="container">
            <div class="brand-carousel owl-carousel owl-theme">
                {% for partenaire in partenaires %}
                    {% if partenaire.logo %}
                        <div class="item">
                            <img src="{{ asset('uploads/logo/' ~ partenaire.logo) }}">
                        </div>
                    {% else %}
                        <div class="item">
                            <img src="{{ asset('images/brand-1.png') }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div><!-- /.brand-carousel -->
        </div><!-- /.thm-container -->
    </div>
{% endblock %}



