{% extends 'baseback.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <div class="content">
        <div class="card card-stats">
            <div class="card-header">
                <h5>Information candidat</h5>
            </div>
            <hr>
            <div class="card-body ">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ candidat.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ candidat.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ candidat.description }}</td>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{ candidat.createdAt ? candidat.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Details votes</h5>
            </div>
            <hr>
            <div class="card-body ">
                <p><h5>Nombres de votes: {{ candidat.vote }}</h5></p>

            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>NombreVote</th>
                    <th>Monaie</th>
                    <th>Status</th>
                    <th>CreatedAt</th>
                </tr>
                </thead>
                <tbody>
                {% for vote in candidat.votes %}
                    <tr>
                        <td>{{ vote.id }}</td>
                        <td>{{ vote.nombreVote }}</td>
                        <td>{{ vote.monaie }}</td>
                        <td>
                        {% if vote.status=="PENDING" %}
                            <span class="btn btn-sm btn-warning">{{ vote.status }}</span>
                        {% elseif vote.status=="REFUSED" %}
                            <span class="btn btn-sm btn-danger">{{ vote.status }}</span>
                        {% else %}
                            <span class="btn btn-sm btn-success">{{ vote.status }}</span>
                        {% endif %}
                        </td>
                        <td>{{ vote.createdAt ? vote.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
