{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<div class="wrapper bgded overlay" style="background-image:url({{ asset('images/imagemiss.jpg') }});">
    <div class="page-title text-center wow fadeInRightBig"> <h1 class="heading">Boutique</h1></div>
</div>
<div class="row pt-20" style="background-color: #f9f9f9">
    <div class="col-xl-8 offset-xl-2">
        <div class="sec-title text-center black wow bounceIn">
            <span></span>
            <h3>Boutique/{{ product.name }}</h3>
            <p></p>
        </div><!-- /.sec-title -->
    </div>
</div>
<section class="about-me-area pb-10">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {#  <div class=" card personal-thumb mb-30">
                        <div class="card-img">
                            <img src="{{ asset('uploads/' ~ candidat.photo) }}" alt="" height="300">
                        </div>
                    </div>#}
                <div class="my-img position-relative mb-50">
                    {% if product.image is defined and product.image  is not null %}
                        <img src="{{ asset('uploads/products/' ~ product.image) }}" alt="">
                    {% else %}  <img id="img_emp"
                                     src="{{ asset('front/images/me/Personal-details.jpg') }}" title="my image"
                                     alt="My image">
                    {% endif %}

                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 col-md-12">
                        <p>Prix: <span style="color: #721c24;font-weight: 400;font-size: 18px">{{ product.price }}</span> FCFA</p>
                        </div>
                        <form method="post" action="{{ path('sendpaiementpayproductjax') }}">
                            <input name="initprice" class="hidden" id="initprice"
                                   value="{{ product.price }}">
                            <input name="slug" class="hidden" id="slug"
                                   value="{{ product.slug }}">
                            <input name="shopname" class="hidden" id="shopname"
                                   value="{{ product.name }}">
                            <div class="mb-3 col-md-12">
                                <label class="control-label" for="shopquantity">
                                    Quantité:</label>
                                <input class="form-control" type="number" min="1" name="shopquantity"
                                       id="shopquantity">
                            </div>
                            <div class="mb-3 col-md-12">
                                <p>Total: <span style="color: #721c24;font-weight: 400;font-size: 18px" id="shoptotal"></span></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="firstname">
                                        Votre Nom:</label>
                                    <input class="form-control" type="text" name="firstname"
                                           id="firstname">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="lastname">
                                        Votre Prénom:</label>
                                    <input class="form-control" type="text" name="lastname"
                                           id="lastname">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="phone">
                                        Votre Telephone:</label>
                                    <input class="form-control" type="tel"  name="phone"
                                           id="phone">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="lastname">
                                        Votre Adresse mail:</label>
                                    <input class="form-control" type="email" min="1" name="email"
                                           id="email">
                                </div>
                            </div>
                            <br>
                            <button type="submit"
                                    class="btn btn-success waves-effect waves-light">Valider
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
    <div class="brand-carousel-wrapper light-blue-bg  wow fadeIn">
        <div class="container">
            <div class="brand-carousel owl-carousel owl-theme">
                {% for partenaire in partenaires %}
                    {% if partenaire.logo %}
                        <div class="item">
                            <img src="{{ asset('uploads/logo/' ~ partenaire.logo) }}">
                        </div>
                    {% else %}
                        <div class="item">
                            <img src="{{ asset('images/brand-1.png') }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div><!-- /.brand-carousel -->
        </div><!-- /.thm-container -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'default/javascript.html.twig' %}
{% endblock %}
